In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/AB_NYC_2019.csv")

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [5]:
df.groupby("neighbourhood_group").count()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,1091,1090,1091,1090,1091,1091,1091,1091,1091,1091,1091,876,876,1091,1091
Brooklyn,20104,20098,20104,20095,20104,20104,20104,20104,20104,20104,20104,16447,16447,20104,20104
Manhattan,21661,21652,21661,21652,21661,21661,21661,21661,21661,21661,21661,16632,16632,21661,21661
Queens,5666,5666,5666,5664,5666,5666,5666,5666,5666,5666,5666,4574,4574,5666,5666
Staten Island,373,373,373,373,373,373,373,373,373,373,373,314,314,373,373

In [9]:
df[['neighbourhood_group','price']].groupby("neighbourhood_group").mean()

                          price
neighbourhood_group
Bronx                 87.496792
Brooklyn             124.383207
Manhattan            196.875814
Queens                99.517649
Staten Island        114.812332

In [10]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [26]:
df[['host_id','host_name','neighbourhood','price']]\
    .groupby(['host_id','host_name','neighbourhood'])\
    .mean()\
    .sort_values('price',ascending=False,)\
    .head(10)

                                         price
host_id   host_name neighbourhood
72390391  Jelena    Upper West Side    10000.0
20582832  Kathrine  Astoria            10000.0
5143901   Erin      Greenpoint         10000.0
3906464   Amy       Lower East Side     9999.0
1235070   Olson     East Harlem         9999.0
4382127   Matt      Lower East Side     9999.0
18128455  Rum       Tribeca             8500.0
7407743   Jack      Battery Park City   7500.0
156158778 Sally     Upper East Side     7061.0
35303743  Patricia  Upper West Side     6500.0

In [36]:
df\
    .groupby(['host_id','host_name','neighbourhood'])\
    .agg({'price':'mean','host_id':'count','number_of_reviews':'sum'})\
    .sort_values('number_of_reviews',ascending=False,)\
    .head(10)

,,,price,host_id,number_of_reviews
host_id,host_name,neighbourhood,,,
37312959,Maya,East Elmhurst,42.600000,5,2273
344035,Brooklyn& Breakfast -Len-,Prospect Heights,74.615385,13,2205
26432133,Danielle,East Elmhurst,47.200000,5,2017
35524316,Yasu & Akiko,Hell's Kitchen,186.818182,11,1971
40176101,Brady,Bedford-Stuyvesant,74.714286,7,1818
4734398,Jj,Harlem,49.000000,3,1798
16677326,Alex And Zeena,Chelsea,85.000000,12,1355
6885157,Randy,Bedford-Stuyvesant,56.733333,15,1346
23591164,Angela,East Elmhurst,65.000000,4,1269
59529529,Han,Hell's Kitchen,77.500000,6,1229

In [47]:
jelena_df = df[df['host_name']=='Jelena']

In [28]:
jelena_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
11555,8990116,Bright and spacious 1 bedroom,5485733,Jelena,Brooklyn,Williamsburg,40.70862,-73.95432,Entire home/apt,150,2,19,2017-10-14,0.42,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83
45332,34680877,Cozy bedroom in a spacious apt with a backyard,55026020,Jelena,Brooklyn,Gowanus,40.66694,-73.99405,Private room,50,15,0,NaN,NaN,1,0

In [56]:
jelena_df['is_monthly_rate'] = jelena_df['minimum_nights'] >= 30
jelena_df['nightly_rate'] = jelena_df['is_monthly_rate'] * jelena_df['price'] / 30 + (1 - 1 * jelena_df['is_monthly_rate']) * jelena_df['price']

/Users/rjdscott/Documents/projects/python-tutorial/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/rjdscott/Documents/projects/python-tutorial/venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
jelena_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,nightly_rate,is_monthly_rate
11555,8990116,Bright and spacious 1 bedroom,5485733,Jelena,Brooklyn,Williamsburg,40.70862,-73.95432,Entire home/apt,150,2,19,2017-10-14,0.42,1,0,150.000000,False
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83,333.333333,True
45332,34680877,Cozy bedroom in a spacious apt with a backyard,55026020,Jelena,Brooklyn,Gowanus,40.66694,-73.99405,Private room,50,15,0,NaN,NaN,1,0,50.000000,False

In [58]:
uws_df = df[df['neighbourhood']=='Upper West Side']

In [59]:
uws_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
43,12318,West Side Retreat,16800,Cyn,Manhattan,Upper West Side,40.79009,-73.97927,Private room,135,4,81,2019-06-16,0.69,1,273
51,14287,Cozy 1BD on Central Park West in New York City,56094,Joya,Manhattan,Upper West Side,40.78635,-73.97008,Entire home/apt,151,2,73,2019-07-07,0.63,1,302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48697,36388720,HUGE LUXURY CONDO – INCREDIBLE WATER VIEWS,273619215,Layla,Manhattan,Upper West Side,40.77665,-73.98867,Entire home/apt,750,4,0,NaN,NaN,1,174
48750,36417651,Mid-century Modern Studio on UWS,11270687,Lauren,Manhattan,Upper West Side,40.79873,-73.96938,Entire home/apt,150,2,0,NaN,NaN,1,74
48809,36444734,Sunny Upper West Side Apt. 3mins from Central ...,32987938,Alex,Manhattan,Upper West Side,40.77889,-73.97668,Entire home/apt,143,3,0,NaN,NaN,1,10
48810,36445121,UWS Spacious Master Bedroom Sublet,274014453,Dagmara,Manhattan,Upper West Side,40.79952,-73.96003,Private room,75,30,0,NaN,NaN,1,90
48855,36456829,Perfectly Located Organic Getaway,6677425,Isabel,Manhattan,Upper West Side,40.79753,-73.96155,Shared room,55,2,0,NaN,NaN,2,49

In [65]:
df[df['neighbourhood']=='Upper West Side'].groupby('host_name').mean()
#df[['neighbourhood_group','price']].groupby("neighbourhood_group").mean()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
(Email hidden by Airbnb),12190880.00,6.552700e+07,40.796100,-73.963000,90.000000,1.0,60.00,2.9100,1.000000,188.00
A,2151259.00,1.026398e+07,40.797520,-73.962980,750.000000,3.0,0.00,NaN,1.000000,0.00
Aaron,35115702.75,2.326846e+08,40.794288,-73.972000,160.000000,1.5,5.25,5.0825,2.500000,89.25
Abbey,27703859.00,9.250917e+07,40.783480,-73.983830,148.000000,2.0,18.00,1.7400,1.000000,1.00
Abby,8611135.00,2.322779e+07,40.787613,-73.978837,78.333333,2.0,3.00,0.1000,1.666667,0.00
...,...,...,...,...,...,...,...,...,...,...
岑,12752736.00,6.936625e+07,40.800100,-73.965800,35.000000,45.0,0.00,NaN,1.000000,0.00
思铨,33655292.00,2.536409e+08,40.800380,-73.959940,66.000000,1.0,1.00,0.3400,1.000000,17.00
柏润,27608253.00,9.704476e+07,40.773735,-73.987900,108.500000,10.5,5.50,0.5000,2.000000,9.00
韦达,30927844.00,1.383492e+08,40.801460,-73.960760,1350.000000,1.0,0.00,NaN,1.000000,365.00
진,22392030.00,1.517285e+08,40.775060,-73.981620,70.000000,15.0,0.00,NaN,1.000000,0.00

In [66]:
df[df['neighbourhood_group']=='Manhattan'].groupby('neighbourhood').mean()
#df[['neighbourhood_group','price']].groupby("neighbourhood_group").mean()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,
Battery Park City,1.831094e+07,6.765555e+07,40.709964,-74.016585,367.557143,30.328571,8.285714,0.675556,9.442857,100.328571
Chelsea,1.888020e+07,6.504733e+07,40.744687,-73.998110,249.738544,10.026056,21.240791,1.254698,16.260557,113.995508
Chinatown,1.802833e+07,5.627278e+07,40.715620,-73.993907,161.497283,5.673913,27.013587,1.369190,1.497283,90.796196
Civic Center,1.901076e+07,5.311771e+07,40.713855,-74.003628,191.942308,7.500000,12.250000,0.775667,2.500000,68.269231
East Harlem,1.888549e+07,6.868314e+07,40.796143,-73.942285,133.198747,5.857654,32.628469,1.672733,2.386750,98.973142
East Village,1.666149e+07,4.932739e+07,40.726763,-73.983857,186.083108,6.467350,24.106854,1.119732,3.628710,74.623853
Financial District,2.513816e+07,1.135816e+08,40.706906,-74.009167,225.490591,12.248656,9.315860,1.477485,114.857527,191.536290
Flatiron District,1.730495e+07,5.999391e+07,40.741052,-73.988413,341.925000,6.225000,17.737500,1.251207,7.387500,123.050000
Gramercy,1.632258e+07,4.956351e+07,40.735572,-73.984298,222.754438,8.547337,22.727811,1.120837,5.772189,94.526627
Greenwich Village,1.697288e+07,5.259386e+07,40.730663,-73.998563,263.405612,15.839286,16.647959,0.919511,2.395408,82.051020
Harlem,1.772530e+07,5.996744e+07,40.816026,-73.948006,118.974041,6.414597,28.578631,1.340086,2.189240,106.577502
Hell's Kitchen,2.114741e+07,9.159154e+07,40.762157,-73.991475,204.794178,8.167518,25.652196,1.839941,12.854443,138.846782
Inwood,1.842674e+07,6.096981e+07,40.865316,-73.924720,88.896825,5.388889,18.611111,0.948522,2.301587,98.547619
Kips Bay,1.935001e+07,7.482091e+07,40.741815,-73.979396,202.408511,12.104255,12.419149,1.058012,15.463830,121.717021
Little Italy,2.120326e+07,6.809529e+07,40.718800,-73.997229,222.066116,11.471074,23.132231,1.367143,5.090909,100.338843
Lower East Side,1.714605e+07,5.316685e+07,40.718387,-73.987818,186.312843,6.108672,26.521405,1.246518,2.642151,97.165752
Marble Hill,1.712544e+07,6.782704e+07,40.875741,-73.911038,89.166667,2.583333,14.000000,0.724000,1.500000,114.666667
Midtown,2.148992e+07,8.963897e+07,40.754871,-73.975820,282.719094,11.515858,12.585113,1.282039,16.193528,157.703560
Morningside Heights,1.729092e+07,5.244126e+07,40.808342,-73.961758,114.783237,5.716763,13.291908,0.991508,1.421965,43.054913
Murray Hill,2.240445e+07,9.787188e+07,40.747435,-73.976029,220.958763,15.589691,9.350515,1.010482,53.865979,173.321649
NoHo,1.908055e+07,6.658809e+07,40.727010,-73.993052,295.717949,5.987179,12.743590,0.801935,8.628205,101.820513
Nolita,1.646668e+07,4.854932e+07,40.722146,-73.995083,230.138340,6.924901,22.268775,1.090146,3.837945,69.810277
Roosevelt Island,1.939699e+07,7.799377e+07,40.763283,-73.948556,113.259740,6.571429,15.766234,1.060152,1.259740,72.584416
SoHo,1.854281e+07,6.032155e+07,40.724380,-74.002024,287.103352,5.941341,20.209497,1.148606,3.326816,110.357542
Stuyvesant Town,2.352732e+07,7.577089e+07,40.731839,-73.978304,169.108108,10.000000,8.162162,1.124348,1.270270,65.108108
Theater District,2.483560e+07,1.305031e+08,40.759837,-73.985491,248.013889,12.802083,15.076389,2.567027,64.944444,201.871528
Tribeca,1.969456e+07,5.274450e+07,40.717744,-74.007400,490.638418,11.378531,11.491525,0.834909,42.971751,126.508475
Two Bridges,1.990251e+07,6.742705e+07,40.711727,-73.995780,127.069444,4.875000,29.569444,2.395500,1.555556,86.236111
Upper East Side,1.807175e+07,6.243636e+07,40.772748,-73.954740,188.948276,9.206340,17.622914,1.084456,9.055617,112.798109
Upper West Side,1.691917e+07,6.044265e+07,40.788463,-73.973735,210.918316,9.517504,18.294267,1.003556,6.778285,96.583460
Washington Heights,1.844179e+07,6.498787e+07,40.844495,-73.938361,89.610679,6.530590,19.088988,1.215950,1.927697,98.932147
West Village,1.652410e+07,4.368762e+07,40.734351,-74.004078,267.682292,7.781250,19.381510,0.944508,6.535156,85.459635

In [70]:
df[df['neighbourhood_group']=='Manhattan'].groupby('neighbourhood').mean().sort_values('price',ascending=False).to_csv('annabel-data.csv')

In [77]:
def get_manhattan_avg(file_input_path, file_output):
    df = pd.read_csv(file_input_path)
    df[df['neighbourhood_group']=='Manhattan'].groupby('neighbourhood').mean().sort_values('price',ascending=False).to_csv(file_output)

In [78]:
get_manhattan_avg('data/AB_NYC_2019.csv','annnabel3.csv')

In [73]:
data.to_csv('annabel2.csv')